<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="SystemSuite" verbose="1">
	<parameter name="seleniumReportPathParam" value="target/reporting/detailed reports" />
	<parameter name="serverAddress" value="http://www.casus-belli.com/en/" />
	<parameter name="image_dir_name" value="img/"/>
	<parameter name="encoding" value="UTF-8"/>

	<test name="System">
		<groups>
			<run>
				<exclude name="system" />
				<exclude name="smoke" />
				<include name="dev" />
				<exclude name="data" />
			</run>
		</groups>

		<packages>
			<package name="com.infinitios.casusbelli.core" />
			<package name="com.infinitios.casusbelli.core.dataprovider" />
			<package name="com.infinitios.casusbelli.en.testcases.smoke" />
			<package name="com.infinitios.casusbelli.ru.testcases.smoke" />
			<package name="com.infinitios.casusbelli.en.testcases.userregistration" />
			<package name="com.infinitios.casusbelli.ru.testcases.userregistration" />
			<package name="com.infinitios.casusbelli.en.testcases.demo" />
			<package name="com.infinitios.casusbelli.ru.testcases.demo" />
			<package name="com.infinitios.casusbelli.en.testcases.space" />
			<package name="com.infinitios.casusbelli.core.mail" />	
		</packages>
	</test>
</suite>
